---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import ShowCase from '../components/ShowCase.astro';
import Footer from '../components/Footer.astro';
import SectionTitle from '../components/common/SectionTitle.astro';

import waldleben from '../assets/images/hess.jpg'
import hess from '../assets/images/waldleben.jpg'

const items = [
	[
		{
			name: 'Dr. med. Claudia Waldleben',
      quals: ['Praxisinhaberin seit 2014', 
              'FMH Allgemein Innere Medizin',
              'Sonographie Abdomen'],
			img: waldleben,
		},
		{
			name: 'Dr. med. Eva Hess-Arnold',
      quals: ['FMH Allgemein Innere Medizin',
              'Betreuung Kinder ab Geburt'],
			img: hess,
		},
	],
];
---

<Layout title="Ärztinnen">
	<main>
    <Header />
    <ShowCase />
		<div class="py-10 px-4 sm:px-6 lg:py-12">
     <SectionTitle title="Ärztinnen" />

		<div class="grid sm:place-items-center mx-auto space-y-8 md:space-y-0">
			{
				items.map((subitems) => (
					<div class="space-y-16 sm:px-8">
						{subitems.map(({ name, quals, img }) => (
							<div class="flex flex-row max-w-lg">
								<div class="mb-4 mr-16">
			              <a class="flex items-center justify-center w-36">
                      <img src={img.src} width={img.width} height={img.height} alt="" />
									</a>
								</div>
								<div>
									<h3 class="mb-3 text-secondary-light text-xl font-medium">{name}</h3>

						      {quals && Array.isArray(quals) && quals.length > 0 && (
							    <ul>{quals.map((text) => (<li class=" pb-3 leading-[1.2rem]" >{text}</li>))}</ul>
						      )}
								</div>
							</div>
						))}
					</div>
				))
			}
		</div>
	</div>
  <Footer />
	</main>
</Layout>
